pip-build-tracker-ijlrchvd
pip-ephem-wheel-cache-ozqz4blu
pip-install-y2ws8nw1
pip-metadata-verk5a6z
pip-unpack-3pnwhqme
tmpoumg0rrr

venv/
__pycache__/
*.pyc

.env

chroma_db/

.idea/
.vscode/

.streamlit/

*.log

.DS_Store